<div class="widget-text">
    <h3>About Hadi</h3>
    <div class="w-text">
        I am a software engineer working at Richmond, VA area. Click <a href="@Url.Action("Index","AboutMe")">here</a> to read more about me.
        <br />
        This blog is my attemp to capture some of the interesting events during my journey. 
        Some of the contents are from my offline journal (I am using Day One). 
        This is pretty much a daily glimpse of my life.
        I hope you enjoy reading my blog :)
    </div>
</div>