<div class="widget-tabs">
    <h3>Tabs Widget</h3>
    <div id="wtabs">
        <ul>
            <li><a href="#wtab-1">Recent</a></li>
            <li><a href="#wtab-2">Popular</a></li>
        </ul>
        <div id="wtab-1">
            <ul class="posts">
                <li>
                    <a href="blog_post.html"><img src="images/photocontent/widget_img_01.jpg" alt="" /></a>
                    <div class="entry">
                        <a href="blog_post.html">Nam ultricies dolor eu velit varius scelerisque.</a>
                        <span class="date">January 1st, 2013</span>
                    </div>
                    <div class="floatlimit"></div>
                </li>
                <li>
                    <a href="blog_post.html"><img src="images/photocontent/widget_img_02.jpg" alt="" /></a>
                    <div class="entry">
                        <a href="blog_post.html">Wellios Blog</a>
                        <span class="date">January 1st, 2013</span>
                    </div>
                    <div class="floatlimit"></div>
                </li>
                <li>
                    <a href="blog_post.html"><img src="images/photocontent/widget_img_03.jpg" alt="" /></a>
                    <div class="entry">
                        <a href="blog_post.html">Vestibulum in lacus in felis pretium feugiat. </a>
                        <span class="date">January 1st, 2013</span>
                    </div>
                    <div class="floatlimit"></div>
                </li>
            </ul>
        </div>
        <div id="wtab-2">
            <ul class="posts">
                <li>
                    <a href="blog_post.html"><img src="images/photocontent/widget_img_02.jpg" alt="" /></a>
                    <div class="entry">
                        <a href="blog_post.html">Wellios Blog</a>
                        <span class="date">January 1st, 2013</span>
                    </div>
                    <div class="floatlimit"></div>
                </li>
                <li>
                    <a href="blog_post.html"><img src="images/photocontent/widget_img_03.jpg" alt="" /></a>
                    <div class="entry">
                        <a href="blog_post.html">Vestibulum in lacus in felis pretium feugiat. </a>
                        <span class="date">January 1st, 2013</span>
                    </div>
                    <div class="floatlimit"></div>
                </li>
                <li>
                    <div class="entry">
                        <a href="blog_post.html">Post without photo.</a>
                        <span class="date">January 1st, 2013</span>
                    </div>
                    <div class="floatlimit"></div>
                </li>                                    
            </ul>
        </div>
    </div>
</div>