<div class="widget-accordion">
    <h3>Accordion Widget</h3>
    <div class="accordion"> 
        <a href="#" class="accordion-button">Website Design</a>
        <div class="accordion-content">
            Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
        </div>
        <a href="#" class="accordion-button">Website Development</a>
        <div class="accordion-content">
            Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
        </div>
        <a href="#" class="accordion-button">Content Management Systems</a>
        <div class="accordion-content">
            Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
        </div>
        <a href="#" class="accordion-button">E-Commerce</a>
        <div class="accordion-content">
            Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
        </div>
    </div>
</div>