<div class="widget-categories">
    <h3>Blog Categories</h3>
    <ul class="w-categories">
        <li><a href="#">Programming</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Performance</a></li>
        <li><a href="#">Art</a></li>
        <li><a href="#">Typography</a></li>
    </ul>
</div>