<div class="widget-search">
    <form action="search_results.html" method="get" id="search">
        <label for="wsearch" class="flabel">Search</label>
        <input type="text" maxlength="30" name="search" value="" default-value="Search" id="wsearch">
        <input type="submit" name="submit" value="" class="startsearch">
    </form>
</div>