@{
    ViewBag.Title = "Blog - Beyond The Gray Area";
}

<div class="maintitle">
    <h1>Hadi's Blog</h1>
    <div class="mainsubtitle">Welcome</div>
</div>

<div class="separator"></div>


<!-- Blog -->
<div class="blog">
    <div class="post">
        <h2><a href="blog_post.html">Wellios Blog</a></h2>
        <div class="post-meta">
            <span class="author">By <a href="#">Christina Summer</a></span><br>
            <span class="date">January 1st, 2013</span><br>
            <span class="comments">Comments: <a href="#">35</a></span><br>
            <span class="metatags"><a href="#">Browsers</a>, <a href="#">Internet Explorer</a>, <a href="#">Web</a></span>
        </div>
        <div class="post-entry">
            <a href="blog_post.html" title=""><img src="images/photocontent/blog_01.jpg" alt="" class="image" /></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
            <blockquote>
                I am always doing that which I can not do, in order that I may learn how to do it.
                <div class="person">Pablo Picasso</div>
                <div class="floatlimit"></div>
            </blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas.</p>
            <a href="blog_post.html"><div class="readmore">Read more</div></a>
        </div>
    </div>
    <div class="post">
        <h2><a href="blog_post.html">Post with Photo</a></h2>
        <div class="post-meta">
            <span class="author">By <a href="#">Christina Summer</a></span><br>
            <span class="date">January 1st, 2013</span><br>
            <span class="comments">Comments: <a href="#">none</a></span><br>
            <span class="metatags"><a href="#">Browsers</a>, <a href="#">Photography</a>, <a href="#">Art</a></span>
        </div>
        <div class="post-entry">
            <a href="blog_post.html" title=""><img src="images/photocontent/blog_02.jpg" alt="" class="image" /></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
            <a href="blog_post.html"><div class="readmore">Read more</div></a>
        </div>
    </div>
    <div class="post">
        <h2><a href="blog_post.html">Simple Post</a></h2>
        <div class="post-meta">
            <span class="author">By <a href="#">Christina Summer</a></span><br>
            <span class="date">January 1st, 2013</span><br>
            <span class="comments">Comments: <a href="#">none</a></span><br>
            <span class="metatags"><a href="#">Browsers</a>, <a href="#">Photography</a>, <a href="#">Art</a></span>
        </div>
        <div class="post-entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus. Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
            <a href="blog_post.html"><div class="readmore">Read more</div></a>
        </div>
    </div>
    <div class="post">
        <h2><a href="blog_post.html">Post with Video</a></h2>
        <div class="post-meta">
            <span class="author">By <a href="#">Christina Summer</a></span><br>
            <span class="date">January 1st, 2013</span><br>
            <span class="comments">Comments: <a href="#">none</a></span><br>
            <span class="metatags"><a href="#">Browsers</a>, <a href="#">Photography</a>, <a href="#">Art</a></span>
        </div>
        <div class="post-entry">
            <div class="video">
                <iframe src="http://player.vimeo.com/video/25927524?title=0&amp;byline=0&amp;portrait=0" width="460" height="259" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus. Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
            <a href="blog_post.html"><div class="readmore">Read more</div></a>
        </div>
    </div>                 

    <div class="separator-small"></div>

    <!-- Pagination -->
    <div class="pagination">
        <a href="#" class="prev">Previous</a>
        <a href="#">1</a>
        <span class="current">2</span>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#" class="next">Next</a>
    </div><!-- /Pagination -->

</div><!-- /Blog -->

<div class="floatlimit"></div>