<!-- EasyTab CONTACT -->
<div id="contact">
<div id="gmap"></div> <!-- Google map -->
 
<div class="separator"></div>

<div class="right-column">
    <div class="clip"></div>
    <ul class="contact-list">
        <li><div class="ci-03"></div>New York City, United States</li>
        <li><div class="ci-05"></div>+0 (123) 456 789</li>
        <li><div class="ci-06"></div>summer@mail.com</li>
        <li><div class="ci-01"></div>specific information</li>
        <li><div class="ci-02"></div>more specific information</li>
        <li><div class="ci-07"></div>more specific information</li>
    </ul>
</div>

<div class="left-column">
    <form action="#" id="contactform">
        <br><h2>Contact me</h2>
        <ul>
            <li>
                <label for="name" class="flabel">Name</label>
                <input type="text" name="name" value="" id="name" />
            </li>
            <li>
                <label for="email" class="flabel">E-mail</label>
                <input type="text" name="email" value="" id="email" />
            </li>
            <li>
                <label for="message" class="flabel">Enter your message</label>
                <textarea name="message" cols="88" rows="6" id="message"></textarea>
            </li>
            <li>
                <button type="submit" name="submit" value="Send your message" class="submit">Send your message</button>
            </li>
        </ul>
    </form>
</div>
</div>
<!-- /EasyTab CONTACT -->