<!-- EasyTab MAIN -->
<div id="main-info">
    <div class="right-column">
        <img src="images/photocontent/photo_about_me.jpg" alt="">
    </div>
    <div class="left-column">
        <h2>Information</h2>
        <ul class="main-info-list">
            <li>Name<span>Hadi Wirontono</span></li>
            <li>Date of Birth<span>November 29, 1984</span></li>
            <li>Address<span>Philadelphia, United States</span></li>
            <li>Profession<span>Software Engineer</span></li>
            <li class="hide">Phone<span>+0 (123) 456 789</span></li>
            <li class="hide">Email<span>summer@mail.com</span></li>
            <li>Website<span>www.hadoz.me</span></li>
        </ul>
    </div>
    <div class="floatlimit"></div>
</div>
<!-- /EasyTab MAIN -->