<!-- EasyTab RESUME -->
<div id="resume">
    <div class="right-column">
        <div class="skills">
            <h2>Skills</h2>
            <h4 class="skill-title">Programming Language</h4>
            <div class="skill-labels">
                <span class="label label-inverse">C#</span>
                <span class="label label-inverse">Java</span>
                <span class="label label-inverse">VB .NET</span>
                <span class="label label-inverse">Objective C</span>
                <span class="label label-inverse">Actionscript 3</span>
            </div>
            <div class="skill-5 hide"></div>
            
            <h4 class="skill-title">Web</h4>
            <div class="skill-labels">
                <span class="label label-inverse">ASP.NET MVC</span>
                <span class="label label-inverse">PHP</span>
                <span class="label label-inverse">HTML5</span>
                <span class="label label-inverse">CSS</span>
                <span class="label label-inverse">Javascript</span>
            </div>
            
            <h4 class="skill-title">JS Library/Framework</h4>
            <div class="skill-labels">
                <span class="label label-inverse">jQuery</span>
                <span class="label label-inverse">KnockoutJS</span>
                <span class="label label-inverse">Backbone</span>
                <span class="label label-inverse">NodeJS</span>
            </div>

            <h4 class="skill-title">Database</h4>
            <div class="skill-labels">
                <span class="label label-inverse">SQL Server </span>
                <span class="label label-inverse">MySQL</span>
            </div>

            <h4 class="skill-title">Multimedia</h4>
            <div class="skill-labels">
                <span class="label label-inverse">Adobe Photoshop</span>
                <span class="label label-inverse">Adobe Ilustrator</span>
                <span class="label label-inverse">Adobe Flash</span>
                <span class="label label-inverse">Adobe Flash Builder</span>
            </div>

            <h4 class="skill-title">Media Server</h4>
            <div class="skill-labels">
                <span class="label label-inverse">Flash Media Server</span>
                <span class="label label-inverse">Wowza</span>
                <span class="label label-inverse">WebOrb</span>
            </div>

        </div>
    </div>
    <div class="left-column">
        <h2>Employment</h2>

        <h4>the Conference Group</h4>
        <h5>Newark, DE <span class="badge badge-info" style="float:right;">July 2010 - Present</span></h5>
        <h5 class="job-title">Software Engineer, Web Developer</h5>
        <div class="task-point">   
            <p>Built a video/web collaboration application using Flash Builder with Flash Media Server. This collaboration tool is targeted as both desktop and mobile application. (Currently in progress).</p>
            <p>Designed, tested, and built a Customer Dashboard as a portal for the clients to login, manage their conferencing needs, launching conferencing tools, and cards management. This project is built using ASP.NET MVC3, with SQL Server as a backend RDBMS.</p>    
            <p>Coded, tested and implemented “Instant Passcode”, a user-friendly web based application as a part of the Conference Group website that will allow anybody to get conference card information instantly.</p>    
            <p>Administered Salesforce database for sales department.</p>
        </div>
        
        <br>

        <h4>Friendly Wholesale LLC</h4>
        <h5>Philadelphia, PA <span class="badge badge-info" style="float:right;">Sept 2009 - July 2010</span></h5>
        <h5 class="job-title">Web & Application Developer</h5>
        <div class="task-point">
            <p>Converted a manual hand-writing system into a computer-based application, implemented relevant databases for inventory and sales, and created a user friendly online store.</p>
            <p>Built an intranet application to manage inventory.</p>
            <p>Created a simple Web Services using SOAP .NET to retrieve the price information from the database.</p>
            <p>Designed and developed the web based application in ASP .NET.</p>
            <p>Created a simple shopping cart using VB .NET.</p>
            <p>JavaScript for client side validations.</p>
            <p>Integrated the payment system with PayPal API.</p>
        </div>

        <br/><br/><br/>
                            
        <h2>Education</h2>
        <h4>Master of Science in Software Engineering</h4>
        <h5 class="job-title">Drexel University</h5>
        <p>Philadelphia, Pennsyvania, US</p>
        <p>Graduated on June 2012</p>
        <br/>
        <h4>Bachelor of Science in Information Science and Technology</h4>
        <h5 class="job-title">Temple University</h5>
        <p>Philadelphia, Pennsyvania, US</p>
        <p>Graduated on Jan 2009</p>
    </div>
    <div class="floatlimit"></div>
</div>
<!-- /EasyTab RESUME -->