@{
    ViewBag.Title = "About Me";
}
<div id="aboutme">

    <div class="maintitle"><h1>About Me</h1></div>

    <div class="separator"></div>

    <!-- EasyTabs navigation -->
    <ul class="subnavigation">
        <li class="tabs"><a href="#main-info" class="nav-aboutme" ><span>Main</span></a></li>
        <li class="tabs"><a href="#resume" class="nav-aboutme"><span>Resume</span></a></li>
        <li class="tabs"><a href="#contact" class="nav-aboutme" ><span>Contact</span></a></li>
    </ul><!-- /EasyTabs navigation -->
    
    <div class="separator"></div>

    @Html.Partial("~/Views/AboutMe/_MainContact.cshtml", null)
    @Html.Partial("~/Views/AboutMe/_Resume.cshtml", null)
    @Html.Partial("~/Views/AboutMe/_ContactMe.cshtml", null)

</div>


<script src="~/Public/js/jquery.hashchange.min.js"></script>
<script src="~/Public/js/jquery.infieldlabel.min.js"></script>
<script src="~/Public/js/gmap3.min.js"></script>
<script src="~/Public/js/jquery.easytabs.min.js"></script>
<script src="~/Public/js/page.about.js"></script>