    body {
        background: #953328 url(../../images/themes/background_leather_red.jpg);
    }

    .container {
        -webkit-box-shadow: 2px 0 10px rgba(59,14,0,0.75);
        -moz-box-shadow: 2px 0 10px rgba(59,14,0,0.75); 
        box-shadow: 2px 0 10px rgba(59,14,0,0.75);
    }