    .normal-page {
        background: url(../../images/themes/ribbon_navigation_blue_light.png) -94px 0;
    }
		        
	.normal-page .nav-aboutme {
		background: url(../../images/themes/nav_icon_aboutme_blue_light.png) -188px 0;
	}

	.normal-page .nav-aboutme:hover {
		background: url(../../images/themes/nav_icon_aboutme_blue_light.png) -94px 0;
	}

	.normal-page .nav-home {
		background: url(../../images/themes/nav_icon_home_blue_light.png) -188px 0;
	}

	.normal-page .nav-home:hover {
		background: url(../../images/themes/nav_icon_home_blue_light.png) -94px 0;
	}

	.normal-page .nav-blog {
		background: url(../../images/themes/nav_icon_blog_blue_light.png) -188px 0;
	}

	.normal-page .nav-blog:hover {
		background: url(../../images/themes/nav_icon_blog_blue_light.png) -94px 0;
	}

	.normal-page .nav-portfolio {
		background: url(../../images/themes/nav_icon_portfolio_blue_light.png) -188px 0;
	}

	.normal-page .nav-portfolio:hover {
		background: url(../../images/themes/nav_icon_portfolio_blue_light.png) -94px 0;
	}

	/*-----------------------------------------*/

	.current-page {
		background: url(../../images/themes/ribbon_navigation_blue_light.png);
	}

	.current-page .nav-aboutme {
		background: url(../../images/themes/nav_icon_aboutme_blue_light.png);
	}

	.current-page .nav-home {
		background: url(../../images/themes/nav_icon_home_blue_light.png);
	}

	.current-page .nav-blog {
		background: url(../../images/themes/nav_icon_blog_blue_light.png);
	}

	.current-page .nav-portfolio {
		background: url(../../images/themes/nav_icon_portfolio_blue_light.png);
	}

